@charset 'UTF-8';

$headerHeight: 50px;
$leftMenuWidth: 60px;
$aspectRatio: 0.5625;
$displaySwitchHeight: 24px;
$chatPanelFooterHeightAdjust: 9;
$matchVisualHeight: 400px;
$profileHeight: 80px;

// 難読化対応
$obfuscatedRoomBody: 'div.bzbg2c-0';
$obfuscatedRoomPlayer: 'div.nxikdd-0';
$obfuscatedMatchRoomPlayerArea: 'div.nxikdd-4';
$obfuscatedGiftPanel: 'div.m57z8b-0';
$obfuscatedRelative: 'div.xr43zp-0';
$obfuscatedClip: 'div.sc-106900g-2';
$obfuscatedPlaybackPageMore: 'div.sc-1icx48z-0';
$obfuscatedRoomChat: 'div.nxikdd-0';
$obfuscatedChatPanelHeader: 'div.ycw4tr-3';
$obfuscatedChatPanel: 'div.ycw4tr-1';
$obfuscatedChatPanelFooterContainer: 'div.ycw4tr-4';
$obfuscatedChatPanelFooter: 'div.ycw4tr-5';
$obfuscatedTag: 'div.as95bd-0';
$obfuscatedDescription: 'div.u7nnmt-0';

// 横長ウィンドウ時、tsで追加する要素は非表示
.ts--neo-mildom {
	display: none;
}

// 縦長ウィンドウ時
// Mildomのブレイクポイントに合わせる
@media only screen and (max-width: 920px) {
	// デフォルトで隠す対象を隠す
	div.gift-panel, div.room-relative,
	div.playback-page__more, div.chat-panel__header,
	#{$obfuscatedGiftPanel}, #{$obfuscatedRelative}, #{$obfuscatedClip},
	#{$obfuscatedPlaybackPageMore}, #{$obfuscatedChatPanelHeader},
	#{$obfuscatedTag}, #{$obfuscatedDescription} {
		transform: scaleY(0);
		transition-duration: .2s;
		transform-origin: top center;
	}

	// ts追加の独自表示切替スイッチ
	.neo-mildom--display-switch {
		display: flex;
		
		height: #{$displaySwitchHeight};
		
		font-family: inherit;
		font-size: 12px;
		color: #8d8d8d;

		&__description {
			padding: 5px 10px;
		}

		&__label {
			display: block;
			
			margin: 2.5px 0;
			padding: 2.5px 10px;
			border: 1px solid #F8F8F8;
			
			border-radius: 11px;

			&:hover {
				color: #38cce3;
			}

			&--comment {
				margin-left: auto;
			}
		}
	}

	// 左/右カラムを縦並びとする
	div.room__body, div.content, div.match-room__main, #{$obfuscatedRoomBody} {
		flex-direction: column;
	}

	// 全体ラッパーの高さ制限不要
	div.default-layout__content-wrapper, div.room-container {
		height: 100%;
	}

	// ページヘッダー
	div.ksqvi6-0 {
		overflow-x: hidden;
	}

	// なぜMildomさんは動画を最小幅ウィンドウからはみ出させたがるのか
	div.m0ofsj-0, div.room__player, #{$obfuscatedRoomPlayer}, div.match-room__body, div.maco {
		min-width: 0 !important;
	}
	div.match-room__player-area, #{$obfuscatedMatchRoomPlayerArea}, div.maco > div {
		width: calc(100vw - #{$leftMenuWidth});
	}

	// 動画上下に謎スペース生成しないで
	div.room_player_container {
		height: auto;
	}

	// 公式マッチ配信のトップビジュアル非表示
	a.sc-1jjaivq-0 {
		display: none;
	}

	// ギフトパネル/おすすめ動画の位置調整
	div.gift-panel, #{$obfuscatedGiftPanel},
	div.room-relative, div.playback-page__more,
	#{$obfuscatedRelative}, #{$obfuscatedClip}, #{$obfuscatedPlaybackPageMore} {
		position: fixed;
		top: calc((100vw - #{$leftMenuWidth}) * #{$aspectRatio} + #{$headerHeight} + #{$displaySwitchHeight} + #{$profileHeight});
		left: #{$leftMenuWidth};

		width: calc(100vw - #{$leftMenuWidth});
	}

	// ギフトパネル
	div.gift-panel, #{$obfuscatedGiftPanel} {
		z-index: 199;
	}

	// おすすめ動画
	div.room-relative, div.playback-page__more,
	#{$obfuscatedRelative}, #{$obfuscatedClip}, #{$obfuscatedPlaybackPageMore} {
		z-index: 198;

		height: calc(100vh - ((100vw - #{$leftMenuWidth}) * #{$aspectRatio} + #{$headerHeight} + #{$displaySwitchHeight}));
		margin-top: 0px;
		
		background-color: #fff;
		overflow: hidden scroll;
	}
	// ダークモード
	.nono-dark-theme div.room-relative,
	.nono-dark-theme div.playback-page__more,
	.nono-dark-theme #{$obfuscatedRelative},
	.nono-dark-theme #{$obfuscatedPlaybackPageMore} {
		background: #121414;
	}
	// アーカイブページで一覧スクロールできないことへの対応
	#{$obfuscatedRoomBody}, div.maco, div.bzbg2c-1 {
		height: 100%;
	}

	// チャット表示欄のラッパー
	div.room__chat, #{$obfuscatedRoomChat}, div.match-room__chat, div.chat-side {
		display: flex !important;
		flex: 1 !important;
		
		position: fixed !important;
		top: calc((100vw - #{$leftMenuWidth}) * #{$aspectRatio} + #{$headerHeight} + #{$displaySwitchHeight} + #{$profileHeight}) !important;
		left: #{$leftMenuWidth};
		z-index: 197;

		width: calc(100vw - #{$leftMenuWidth}) !important;
		height: calc(100vh - ((100vw - #{$leftMenuWidth}) * #{$aspectRatio} + #{$headerHeight})) !important;
	}

	// チャットヘッダーの概要にホバーで内容を見せる
	div.anounce {
		&:hover {
			height: 195px !important;
		}

		// ワンラインクラスの内容が邪魔なので打ち消す
		&--one-line {
			display: block !important;
			align-items: normal !important;
		}
	}

	// チャット表示欄 上部スペース圧縮
	div.chat-panel, #{$obfuscatedChatPanel} {
		padding-top: 0;
		padding-bottom: 133px - $chatPanelFooterHeightAdjust - 11;	// チャット入力欄のアイコン欄を縮めた分からさらに調整
		max-width: initial;
	}

	// アーカイブのチャット表示欄
	div.sc-1hi6jzo-2, div.qnpu9w-2, div.qnpu9w-3 {
		padding: 0;
	}
	div.playback-chat-panel, div.qnpu9w-2 {
		padding-bottom: 30px;
	}

	// オフィシャル伝書鳩不要
	div.chat-panel__relay {
		display: none;
	}

	// チャット入力欄位置調整
	#{$obfuscatedChatPanelFooterContainer} {
		margin-bottom: -50px;
	}

	// チャット入力欄のアイコン欄 下げて縮める
	div.chat-panel__footer {
		bottom: 91px - $chatPanelFooterHeightAdjust;
	}
	#{$obfuscatedChatPanelFooter} {
		top: 21px - 13;
	}

	// チャット文字入力欄の下が狭くなりすぎるから上げる
	div.sc-1fhicl-0 {
		top: 58px - $chatPanelFooterHeightAdjust - 13;
	}

	// アーカイブでチャットが再生できる告知などいらない
	div.playback-chat-panel-attention, div.sc-1rdc82m-0 {
		display: none;
	}

	// 公式マッチ配信時は関連動画出ない
	div.match-room-container label[for='neo-mildom--relative'] {
		display: none;
	}

	// 配信者情報
	div.sc-1vx524e-0 {
		position: fixed;
		left: #{$leftMenuWidth};
		top: calc((100vw - #{$leftMenuWidth}) * #{$aspectRatio} + #{$headerHeight} + #{$displaySwitchHeight});

		width: calc(100vw - #{$leftMenuWidth});

		margin-top: 0 !important;
		padding: 7px 20px;
	}


	// 表示切替でデフォルト非表示項目を表示時
	#neo-mildom--gift:checked ~ div.gift-panel,
	#neo-mildom--relative:checked ~ div.room-relative,
	#neo-mildom--playback:checked ~ div.playback-page__more,
	#neo-mildom--chat-panel-header:checked ~ div.chat-panel__header,
	#neo-mildom--gift:checked ~ #{$obfuscatedGiftPanel},
	#neo-mildom--relative:checked ~ #{$obfuscatedRelative},
	#neo-mildom--relative:checked ~ #{$obfuscatedClip},
	#neo-mildom--playback:checked ~ #{$obfuscatedPlaybackPageMore},
	#neo-mildom--chat-panel-header:checked ~ #{$obfuscatedChatPanelHeader} {
		transform: scaleY(1);
	}

	// 表示切替でチャット非表示時
	#neo-mildom--comment:checked ~ div.chat-panel,
	#neo-mildom--comment:checked ~ #{$obfuscatedChatPanel} {
		padding-bottom: 30px;
	}
	#neo-mildom--comment:checked ~ div.chat-panel div.chat-panel__footer-container,
	#neo-mildom--comment:checked ~ #{$obfuscatedChatPanel} div.chat-panel__footer-container {
		display: none;
	}
}
