@charset 'UTF-8';

#neo-mildom--gift {
	display: none;
}

#neo-mildom--relative {
	display: none;
}

#neo-mildom--comment {
	display: none;
}

#neo-mildom--playback {
	display: none;
}

.neo-mildom--display-switch {
	display: none;
}

@media only screen and (max-width: 900px) {
	div.room__body {
		flex-direction: column;
	}

	.neo-mildom--display-switch {
		display: flex;
		
		height: 25px;
		
		font-family: inherit;
		font-size: 12px;
		color: #8d8d8d;
	}

	.neo-mildom--display-switch__description {
		padding: 5px 10px;
	}

	.neo-mildom--display-switch__label {
		display: block;
		
		padding: 5px 10px;
		border: 1px solid #efefef;
		
		border-radius: 11px;
	}

	.neo-mildom--display-switch__label--comment {
		margin-left: auto;
	}

	.neo-mildom--display-switch__label:hover {
		color: #38cce3;
	}

	div.gift-panel, div.room-relative, div.playback-page__more {
		transform: scaleY( 0 );
		transition-duration: .2s;
	}

	div.gift-panel {
		position: fixed;
		top: calc( (100vw - 52px) * 0.5625 + 130px );
		left: 52px;
		z-index: 199;

		width: calc( 100vw - 52px );
	}

	div.room-relative, div.playback-page__more {
		position: relative;
		z-index: 198;
		
		width: calc( 100vw - 52px );
		
		background-color: #fff;
		overflow: scroll;
	}

	#neo-mildom--gift:checked ~ div.gift-panel,
	#neo-mildom--relative:checked ~ div.room-relative,
	#neo-mildom--playback:checked ~ div.playback-page__more {
		transform: scaleY( 1 );
	}

	div.room__chat {
		display: flex;
		flex: 1;
		
		position: fixed;
		top: calc( (100vw - 52px) * 0.5625 + 130px );
		left: 52px;
		z-index: 197;

		width: calc( 100vw - 52px ) !important;
		height: calc( 100vh - ((100vw - 52px) * 0.5625 + 130px) );
	}

	div.chat-panel {
		padding-top: 0;
		padding-bottom: 100px;
	}

	div.chat-panel__header {
		display: none;
		
		position: relative;
	}

	div.chat-panel__relay {
		display: none;
	}

	div.chat-panel__footer {
		bottom: 65px;
	}

	div.chat-panel-input-wrap {
		bottom: 10px;
	}

	#neo-mildom--comment:checked ~ div.chat-panel, div.chat-panel.playback-chat-panel {
		padding-bottom: 0px;
	}

	#neo-mildom--comment:checked ~ div.chat-panel div.chat-panel__footer-container {
		display: none;
	}

	div.playback-chat-panel-attention {
		display: none;
	}

	div.live-end-playback {
		overflow-y: hidden;
	}
}